<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>++</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body>
    <div id="wrapper">
        <h1>PIC++</h1>
        <form id="simulation-form">
            <label for="spatialLength">Spatial Length:</label>
            <input type="text" id="spatialLength" name="spatialLength" value="6.28318530717958">
            <br>
            <label for="numParticles">Number of Electrons:</label>
            <input type="text" id="numParticles" name="numParticles" value="100">
            <br>
            <label for="timeSteps">Time Steps:</label>
            <input type="text" id="timeSteps" name="timeSteps" value="100">
            <br>
            <label for="timeStepSize">Time Stepsize:</label>
            <input type="text" id="timeStepSize" name="timeStepSize" value="0.1">
            <br>
            <label for="numGrid">Number of Grid Cells:</label>
            <input type="text" id="numGrid" name="numGrid" value="32">
            <br>
            <label for="spatialPerturbationMode">Mode:</label>
            <input type="text" id="spatialPerturbationMode" name="spatialPerturbationMode" value="1">
            <br>
            <label for="driftVelocity">Drift Velocity:</label>
            <input type="text" id="driftVelocity" name="driftVelocity" value="1">
            <br>
            <label for="numSpecies">Number of Species:</label>
            <input type="text" id="numSpecies" name="numSpecies" value="2">
            <br>
            <label for="spatialPerturbationAmplitude">Amplitude:</label>
            <input type="text" id="spatialPerturbationAmplitude" name="spatialPerturbationAmplitude" value="0.001">
            <br>
            <label for="thermalVelocity">Thermal Velocity:</label>
            <input type="text" id="thermalVelocity" name="thermalVelocity" value="0.00">
            <br>
            <label for="plasmaFrequency">Plasma Frequency:</label>
            <input type="text" id="plasmaFrequency" name="plasmaFrequency" value="1">
            <br>
            <label for="chargeMassRatio">Charge Mass Ratio:</label>
            <input type="text" id="chargeMassRatio" name="chargeMassRatio" value="-1">
            <br>
            <label for="duration">Frame Duration (ms):</label>
            <input type="text" id="duration" name="duration" value="100">
            <div>
                <label for="fileInput">Upload your data:</label>
                <input type="file" id="fileInput" name="fileInput">
                <div>
                    <input type="submit" value="Run Simulation">
                </div>
            </div>
            <div id="loading-container">
                <div class="loading-spinner"></div> 
            </div>
            <div id="frame-number-display">Frame: 0, Time: 0 s</div>

            <div id="visualization"></div>

            <div id="controls-container">

                <div id="controls">
                    <button id="play-button" class="control-button" type="button">Play</button>
                    <button id="stop-button" class="control-button" type="button">Stop</button>
                    <input type="range" id="frame-slider" step="1" value="0">
                </div>
            </div>

            <div id="keDiv"></div>
            <div id="eseDiv"></div>

    </div>
    <script>
        const loadingContainer = document.getElementById('loading-container');

        function showLoadingSpinner() {
            loadingContainer.style.display = 'block';
        }

        function hideLoadingSpinner() {
            loadingContainer.style.display = 'none';
        }

        $(document).ready(function () {

            var yMin = $('#yMin').val();
            var yMax = $('#yMax').val();

            var jsonData;
            var positions;
            var height = 400;
            var margin = { top: 0, right: 20, bottom: 20, left: 40 };
            var ng = 32;

            var layout = {
                title: 'Particle Phase Space',
                width: 1000,
                xaxis: {
                    title: 'Positions (arb. units)',
                    range: [0, ng + 5],
                },
                yaxis: {
                    title: 'Velocities (arb. units)',
                    range: [yMin, yMax],
                },
            };

            var config = { displayModeBar: true }; 

            var plotlyDiv = document.getElementById('visualization');
            var plotlyInitialized = false;

            function updatePlot(framesData) {
                if (!plotlyInitialized) {
                    Plotly.newPlot(plotlyDiv, framesData, layout, config);
                    plotlyInitialized = true;
                } else {
                    Plotly.react(plotlyDiv, framesData, layout, config);
                }
            }

            $('#simulation-form').submit(function (event) {
                event.preventDefault(); 
                var spatialLength = $('#spatialLength').val();
                var numParticles = $('#numParticles').val();
                var timeSteps = $('#timeSteps').val();
                var timeStepSize = $('#timeStepSize').val();
                var numGrid =  $('#numGrid').val();
                var spatialPerturbationMode = $('#spatialPerturbationMode').val();
                var driftVelocity = $('#driftVelocity').val();
                var numSpecies = $('#numSpecies').val();
                var spatialPerturbationAmplitude = $('#spatialPerturbationAmplitude').val();
                var thermalVelocity = $('#thermalVelocity').val();
                var duration = $('#duration').val();
                var plasmaFrequency = $('#plasmaFrequency').val();
                var chargeMassRatio = $('#chargeMassRatio').val();

                document.getElementById('frame-slider').max = timeSteps - 1;
                showLoadingSpinner()
                $.ajax({
                    url: 'http://127.0.0.1:8000/run/?spatialLength=1&numParticles=2&timeSteps=2&timeStepSize=0.1&numGrid=32&spatialPerturbationMode=1&driftVelocity=0&numSpecies=4&spatialPerturbationAmplitude=0&thermalVelocity=4&plasmaFrequency=1&chargeMassRatio=-1',
                    // url: 'https://picplusplus-1a5d36795027.herokuapp.com/run/?spatialLength=1&numParticles=2&timeSteps=2&timeStepSize=0.1&numGrid=32&spatialPerturbationMode=1&driftVelocity=0&numSpecies=4&spatialPerturbationAmplitude=0&thermalVelocity=4&plasmaFrequency=1&chargeMassRatio=-1',
                    method: 'GET',
                    data: { spatialLength : spatialLength, numParticles: numParticles, timeSteps: timeSteps, timeStepSize: timeStepSize, numGrid : numGrid, spatialPerturbationMode: spatialPerturbationMode, driftVelocity: driftVelocity, numSpecies: numSpecies, spatialPerturbationAmplitude: spatialPerturbationAmplitude, thermalVelocity: thermalVelocity, plasmaFrequency : plasmaFrequency, chargeMassRatio :chargeMassRatio },
                    success: function (response) {
                        var PICData = JSON.parse(response);
                        console.log(PICData)
                        hideLoadingSpinner();
                        document.getElementById('controls-container').style.display = 'block';

                        startAnimation(PICData.phaseFrames, duration);
                        createKEPlot(PICData.ke)
                        createESEPlot(PICData.ese)
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error:', textStatus);
                        hideLoadingSpinner();
                    }
                });
            });

            function getPositionsOfSpecies(frame, species) {
                const positions = [];

                for (const particle of frame.particles) {
                    if (particle.species === species) {
                        positions.push(particle.position);
                    }
                }
                return positions;
            }

            function getVelocitiesOfSpecies(frame, species) {
                const velocities = [];

                for (const particle of frame.particles) {
                    if (particle.species === species) {
                        velocities.push(particle.velocity);
                    }
                }
                return velocities;
            }

            function showFrame(framesData, frameIndex) {
                document.getElementById('frame-slider').value = frameIndex;
                animate(framesData[frameIndex]);
                let time = frameIndex * $('#timeStepSize').val();
                time = Number(time).toFixed(2)
                document.getElementById('frame-number-display').textContent = "Frame: " + frameIndex + ", Time: " + time + " s";
            }

            function startAnimation(framesData, duration) {
                var frameIndex = 0;
                animate(framesData[frameIndex]);

                var frameSlider = document.getElementById('frame-slider');
                frameSlider.addEventListener('input', function () {
                    var frameIndex = parseInt(frameSlider.value);
                    showFrame(framesData, frameIndex);
                });

                var playButton = document.getElementById('play-button');
                var stopButton = document.getElementById('stop-button');

                playButton.addEventListener('click', function () {
                    playAnimation(framesData, duration);
                });

                stopButton.addEventListener('click', function () {
                    clearInterval(animationInterval);
                });
            }

            var animationInterval;
            var currentFrameIndex = 0;

            function playAnimation(framesData, duration) {
                clearInterval(animationInterval);

                animationInterval = setInterval(function () {
                    currentFrameIndex = (currentFrameIndex + 1) % framesData.length;
                    showFrame(framesData, currentFrameIndex);
                }, duration);
            }

            function animate(frame) {
                const numSpecies = 3;
                const colors = ['steelblue', 'red', 'green', 'orange'];

                var framesData = [];

                for (let species = 0; species < numSpecies; species++) {
                    positions = getPositionsOfSpecies(frame, species);
                    velocities = getVelocitiesOfSpecies(frame, species);

                    framesData.push({
                        x: positions,
                        y: velocities,
                        mode: 'markers',
                        type: 'scatter',
                        marker: {
                            size: 5,
                            opacity: 0.6,
                            color: colors[species],
                        },
                        name: `Species ${species}`,
                    });
                    updatePlot(framesData);
                }
            }

            function createKEPlot(ke) {
                var data = [];
                let timeStepSize = $('#timeStepSize').val();

                for (let species = 0; species < ke.length; species++) {
                    const speciesKE = ke[species];

                    const trace = {
                        x: Array.from({ length: speciesKE.length }, (_, i) => i),  
                        y: speciesKE,
                        type: 'scatter',
                        mode: 'lines+markers',
                        name: 'Species ' + species
                    };

                    data.push(trace);
                }
                const keLayout = {
                    title: 'Kinetic Energy of ' + ke.length + ' Species',

                    width: 1000,
                    xaxis: {
                        title: 'Time (arb. units)'
                    },
                    yaxis: {
                        title: 'Kinetic Energy (arb. units)'
                    }
                };

                Plotly.newPlot('keDiv', data, keLayout);
            }

            function createESEPlot(ese) {
                var data = [];
                let timeStepSize = $('#timeStepSize').val();

                const trace = {
                    x: Array.from({ length: ese.length }, (_, i) => i),  
                    y: ese,
                    type: 'scatter',
                    mode: 'lines+markers',
                    name: 'ESE '
                };

                data.push(trace);

                const eseLayout = {
                    title: 'Electrostatic Energy (arb. units)',

                    width: 1000,
                    xaxis: {
                        title: 'Time (s)'
                    },
                    yaxis: {
                        title: 'Electrostatic Energy (arb. units)'
                    }
                };

                Plotly.newPlot('eseDiv', data, eseLayout);
            }

            $('#fileInput').on('change', function () {
                const fileInput = this;
                if (fileInput.files.length > 0) {
                    const file = fileInput.files[0];
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        const lines = e.target.result.split('\n').filter(Boolean); 
                        lines.forEach(line => {
                            const [key, value] = line.split(',').map(item => item.trim());
                            $(`#${key}`).val(value);
                        });
                    };

                    reader.readAsText(file);
                }
            });

        });
    </script>

    <style>
        #controls-container {
            display: none;
        }

        body {
            margin: 0;
            /* Reset default margin */
            min-height: 100vh;
            /* Ensure body takes up at least the full viewport height */
            display: flex;
            /* Convert body to a flex container */
            align-items: center;
            /* Center content vertically */
            justify-content: center;
            /* Center content horizontally */
            overflow-y: auto;
            /* Allow vertical scrolling if the content overflows */
        }

        #loading-container {
            display: none;
            /* Initially hide the loading container */
            text-align: center;
        }

        .loading-spinner {
            border: 4px solid #f3f3f3;
            /* Light gray border */
            border-top: 4px solid #3498db;
            /* Blue border on top */
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            /* Apply the spinning animation */
            margin: 0 auto;
            /* Center the spinner horizontally */
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        #frame-slider {
            width: 73%;
            /* adjust this value as desired */
            margin: 0 auto;
            /* centers the slider, if needed */
        }

        #frame-number-display {
            font-size: 16px;
            margin-top: 10px;
            font-weight: bold;
        }
    </style>

</body>
</html>