<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>++</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body>
</form>
        <div id="wrapper">
            <h1>PIC++</h1>
            <form id="simulation-form">
              <label for="param1">Number of Electrons:</label>
              <input type="text" id="param1" name="param1" value="50">
              <br>
              <label for="param2">Time Steps:</label>
              <input type="text" id="param2" name="param2" value="50">
              <br>
              <label for="param3">Time Stepsize:</label>
              <input type="text" id="param3" name="param3" value="0.1">
              <br>
              <label for="param4">Mode:</label>
              <input type="text" id="param4" name="param4" value="1">
              <br>
              <label for="param5">Drift Velocity:</label>
              <input type="text" id="param5" name="param5" value="1">
              <br>
              <label for="param6">Number of Species:</label>
              <input type="text" id="param6" name="param6" value="1">
              <br>
              <label for="param7">Amplitude:</label>
              <input type="text" id="param7" name="param7" value="1">
              <br>
              <label for="param8">Thermal Velocity</label>
              <input type="text" id="param8" name="param8" value="0.00">
              <br>
              <label for="duration">Frame Duration (ms):</label>
              <input type="text" id="duration" name="duration" value="100">
              <br>
              <label for="yMin">yMin:</label>
              <input type="text" id="yMin" name="yMin" value="-1">
              <br>
              <label for="yMax">yMax:</label>
              <input type="text" id="yMax" name="yMax" value="1">
              <br>
              <input type="submit" value="Run Simulation">
              <div id="loading-container">
                <div class="loading-spinner"></div> <!-- Add your loading spinner here -->
              </div>
        
              <div id="visualization"></div>
              <!-- Animation Controls -->
              <div id="controls">
                <button id="play-button" class="control-button">Play</button>
                <button id="stop-button" class="control-button">Stop</button>
                <input type="range" id="frame-slider" step="1" value="0">
                <button id="show-frame-button" class="control-button">Show Frame</button>
              </div>
        
          </div>
    <script>
        const loadingContainer = document.getElementById('loading-container');

        function showLoadingSpinner() {
            loadingContainer.style.display = 'block';
        }

        function hideLoadingSpinner() {
            loadingContainer.style.display = 'none';
        }

        $(document).ready(function () {

            var yMin = $('#yMin').val();
            var yMax = $('#yMax').val();

            var jsonData;
            var positions;
            var width = 900;
            var height = 400;
            var margin = { top: 0, right: 20, bottom: 20, left: 40 };
            var ng = 32;

            // Create a Plotly scatter plot
            var layout = {
                title: 'Animated Scatter Plot',
                xaxis: {
                    title: 'Positions',
                    range: [0, ng + 5],
                },
                yaxis: {
                    title: 'Velocities',
                    range: [yMin, yMax],
                },
            };

            var config = { displayModeBar: true };  // Disable Plotly's mode bar

            var plotlyDiv = document.getElementById('visualization');
            var plotlyInitialized = false;

            // Function to update the Plotly scatter plot
            function updatePlot(framesData) {
                if (!plotlyInitialized) {
                    Plotly.newPlot(plotlyDiv, framesData, layout, config);
                    plotlyInitialized = true;
                } else {
                    // Use Plotly.react to update the plot with new data
                    Plotly.react(plotlyDiv, framesData, layout, config);
                }
            }

            $('#simulation-form').submit(function (event) {
                event.preventDefault(); // Prevent form submission
                // Get form data
                var param1 = $('#param1').val();
                var param2 = $('#param2').val();
                var param3 = $('#param3').val();
                var param4 = $('#param4').val();
                var param5 = $('#param5').val();
                var param6 = $('#param6').val();
                var param7 = $('#param7').val();
                var param8 = $('#param8').val();

                yMin = parseFloat($('#yMin').val());
                yMax = parseFloat($('#yMax').val());
                var duration = $('#duration').val();

                //yScale.domain([yMin, yMax]);
                //svg.select(".y-axis").call(yAxis);

                document.getElementById('frame-slider').max = param2 - 1;
                showLoadingSpinner()
                // Make AJAX request to the API endpoint
                $.ajax({
                    //url: 'http://localhost:8000/run-simulation/', 
                    url: 'https://picplusplus-1a5d36795027.herokuapp.com/run-simulation/?param1=2&param2=2&param3=0.1&param4=1&param5=0&param6=4&param7=0&param8=4',
                    method: 'GET',
                    data: { param1: param1, param2: param2, param3: param3, param4: param4, param5: param5, param6: param6, param7: param7, param8: param8 },
                    success: function (response) {
                        var PICData = JSON.parse(response);
                        console.log(PICData)
                        hideLoadingSpinner();
                        startAnimation(PICData.phaseFrames, duration);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error:', textStatus);
                        hideLoadingSpinner();
                    }
                });
            });

            function getPositionsOfSpecies(frame, species) {
                const positions = [];

                for (const particle of frame.particles) {
                    if (particle.species === species) {
                        positions.push(particle.position);
                    }
                }
                return positions;
            }

            function getVelocitiesOfSpecies(frame, species) {
                const velocities = [];

                for (const particle of frame.particles) {
                    if (particle.species === species) {
                        velocities.push(particle.velocity);
                    }
                }
                return velocities;
            }

            function showFrame(framesData, frameIndex) {
                document.getElementById('frame-slider').value = frameIndex;
                animate(framesData[frameIndex]);
            }

            function startAnimation(framesData, duration) {
                var frameIndex = 0;
                animate(framesData[frameIndex]);

                var frameSlider = document.getElementById('frame-slider');
                frameSlider.addEventListener('input', function () {
                    var frameIndex = parseInt(frameSlider.value);
                    showFrame(framesData, frameIndex);
                });

                var playButton = document.getElementById('play-button');
                var stopButton = document.getElementById('stop-button');

                playButton.addEventListener('click', function () {
                    playAnimation(framesData, duration);
                });

                stopButton.addEventListener('click', function () {
                    clearInterval(animationInterval);
                });
            }

            var animationInterval;
            var currentFrameIndex = 0;

            function playAnimation(framesData, duration) {
                clearInterval(animationInterval);

                animationInterval = setInterval(function () {
                    currentFrameIndex = (currentFrameIndex + 1) % framesData.length;
                    showFrame(framesData, currentFrameIndex);
                }, duration);
            }

            function animate(frame) {
                const numSpecies = 2;
                const colors = ['steelblue', 'red', 'green', 'orange'];

                var framesData = [];

                for (let species = 0; species < numSpecies; species++) {
                    positions = getPositionsOfSpecies(frame, species);
                    velocities = getVelocitiesOfSpecies(frame, species);

                    framesData.push({
                        x: positions,
                        y: velocities,
                        mode: 'markers',
                        type: 'scatter',
                        marker: {
                            size: 5,
                            opacity: 0.6,
                            color: colors[species],
                        },
                        name: `Species ${species}`,
                    });


                updatePlot(framesData);
                }
            }
        });
    </script>
    <style>
    #loading-container {
      display: none;
      /* Initially hide the loading container */
      text-align: center;
    }

    .loading-spinner {
      border: 4px solid #f3f3f3;
      /* Light gray border */
      border-top: 4px solid #3498db;
      /* Blue border on top */
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 1s linear infinite;
      /* Apply the spinning animation */
      margin: 0 auto;
      /* Center the spinner horizontally */
    }
    </style>
</body>

</html>